
<%- include('header') %>

  <!-- Your main content goes here -->
  <div class="login two"> <h1><%= title %></h1></div>

<div class="navbar" id="myNavbar">
    <a href="#" class="icon" onclick="toggleNavbar()">☰</a>
    <a href="/">login</a>
    <a href="/finance">finance</a> 
    <a href="/itdept">chairit</a>
    <a href="/chem">chairchem</a>
    <a href="/hostel">hostel</a>
    <a href="/registra">registra</a>
    <a href="/student">students</a>
   
</div>

<%- include('footer') %>