<header>
    <%- include('header') %>
</header>

<main>
   
    <!-- Your main content goes here -->
    <div class="login two"> <h1>Welcome to <%= title %></h1></div>
    
    <button class="my-button btn slide">initiate Clearance</button>


</main>

<footer>
    <%- include('footer') %>
</footer>