
    <%- include('header') %>
    <header></header>


<main>
   
    <!-- Your main content goes here -->
    <div class="login two"> <h1>Welcome to <%= title %></h1></div>
    
    <div class="login one">Students Dashboard 
        approval status <br><br>
<table class="table">

<thead >
    <%= result.reg %>
<tr>
    <th >ID</th>
    <th >Name</th>
    <th >Age</th>
    <th >City</th>
</tr>
</thead>
<tbody>
<tr>
    <td>1</td>
    <td>John Doe</td>
    <td>25</td>
    <td>New York</td>
</tr>
<tr>
    <td>2</td>
    <td>Jane Smith</td>
    <td>30</td>
    <td>Los Angeles</td>
</tr>
</table>


</main>

<footer>
    <%- include('footer') %>
</footer>